---
title: Events
site-map: true
title-nav: true
---
{% assign now =  site.time | date: "%F" %}

<h1>Upcoming Events</h1>
{% assign sorted_events = site.events | sort: "start" %}
{% for event in sorted_events %}
  {% unless event.hidden %}{% if event.start >= now %}
    {% include event_full.html event=event %}
    {% endif %}{% endunless %}
{% endfor %}

<h1>Past Events</h1>
{% assign reverse_events = sorted_events | reverse %}
{% for event in reverse_events %}
  {% unless event.hidden %}{% if event.start < now %} 
    {% include event_small.html event=event thumb=true %}
  {% endif %}{% endunless %}
{% endfor %}
