---
title: Committee Members
site-map: true
---
<h1>Current Committee</h1>

<div class="committee">
  {% assign roles = site.data.committee.current | group_by: "role" %}
  {% for role in roles %}
  {% for member in role.items %}
    {% include person.html person=member.person role=role.name%}
  {% endfor %}
  {% endfor %}
</div>

<h1>Previous Committees</h1>

{% for cmt in site.data.committee %}
{% if cmt[0] != "current" %}
{% assign committee = cmt[1] %}
<h2>{{ cmt[0] }} Committee</h2>
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for member in committee %}
      <tr>
        <td>{{ member.role }}</td>
        {% if member.person %}
          <td>{% include person_link.html person=member.person %}</td>
        {% else %}
          <td>{{ member.name }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endfor %}

