<div class="event event-{{ include.event.type }}">
  <div class="header-img">
    <a href="{{ include.event.url | absolute_url}}">
      <img src="{{ include.event.image | absolute_url }}" alt="{{ include.event.title }}">
    </a>
  </div>
  <div class="event-summary">
    <!--h1><a href="{{ include.event.url | absolute_url}}">{{ include.event.title }}</a></h1>
    <h2>{{ include.event.start | date: "%A, %-d %B %Y" }}</h2-->
    <ul class="times">
      <li><span class="name">From</span> <span class="time">{{ include.event.start | date: "%a, %-d %b %-I:%M %p"}}</span></li>
      <li><span class="name">Until</span> <span class="time">{{ include.event.end | date: "%a, %-d %b %-I:%M %p"}}</span></li>
      <li class="location"><span class="name">At</span> <span class="location">{{ include.event.location }}</span></li>
    </ul>
    <ul class="links">
      {% if include.event.slack %}
      <li><a href="{{ site.slack }}messages/{{ include.event.slack }}/" class="button btn-slack">Slack Channel</a></li>
      {% endif %}
      {% if include.event.facebook %}
      <li><a href="{{ include.event.facebook }}" class="button btn-facebook">Facebook Event</a></li>
      {% endif %}
    </ul>
    <div class="description">
      {{ include.event.content | markdownify }}
    </div>
  </div>
</div>
