<div class="join-links">
  <h1>Join the Society</h1>
  <ul>
    {% if site.signup %}
    <li><a class="btn-register" href="{{ site.signup }}" target="_blank">Sign-Up Form</a></li>
    {% endif %}
    {% if site.orgsync %}
    <li><a class="btn-orgsync" href="{{ site.orgsync }}" target="_blank">OrgSync</a></li>
    {% endif %}
    {% if site.slack %}
    <li>
      <a class="btn-slack" href="{{ site.baseurl }}{% link join.md %}">Slack</a>
    </li>
    {% endif %}
    {% if site.facebook_group %}
    <li>
        <a class="btn-facebook" href="{{ site.facebook_group }}" target="_blank">Facebook</a>
    </li>
    {% endif %}
  </ul>
</div>
