header.site {
  @extend .no-buffer;
  background-color: $bg-black;
  border-bottom: $line-normal solid $fg-line;

  .wrapper {
    @extend .no-buffer;
    @extend .content-wrap;
  }

  h1 {
    font-size: 22pt;
    text-transform: uppercase;
    margin: 0;
    padding: 0.2em 0.6em;
    float: left;
    clear: left;
    a {
      color: $fg-dark;
      text-decoration: none;
    }

    &.short {
      display: none;
    }

    @include device($mobile-width) {
      &.full {
        display: none;
      }

      &.short {
        display: block;
      }
    }
  }

  .show-nav {
    display: none;
    font-size: 22pt;
    padding: 0.35em 0.4em;

    @include device($tablet-width) {
      display: block;
      float: right;
      clear: right;
    }
  }

  nav {
    @extend .no-buffer;
    float: right;
    clear: right;

    @include device($tablet-width) {
      float: none;
      clear: both;
      max-height: 0;
      transition: max-height 0.5s;

      &.shown {
        transition: max-height 0.5s;
        max-height: 8em;
      }
    }

    ul {
      @extend .no-buffer;
      display: block;
    }
    li {
      @extend .no-buffer;
      list-style: none;
      float: right;
      margin: 2px 0;

      @include device($tablet-width) {
        float: left;
        width: 25%;
        text-align: center;
      }

      @include device($mobile-width) {
        float: none;
        width: auto;
      }
    }
    a {
      @include button($fg-dark, $bg-dark, $fg-link);
    }
  }
}

footer.site {
  background-color: $bg-black;

  .wrapper {
    @extend .no-buffer;
    @extend .content-wrap;
    padding-top: $spacing;
  }

  .left, .middle, .right {
    @extend .no-buffer;
    width: 33.33%;
    float: left;

    @include device($tablet-width) {
      width: 50%;
    }

    @include device($mobile-width) {
      width: 100%;
      float: none;
    }

    .spacer {
      width: auto;
      margin: $spacing;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 14pt;
    margin: 0.2em $spacing;
  }

  p {
    font-family: $monospace-font;
    font-weight: $monospace-weight;
    margin: 0.2em $spacing $spacing $spacing;
  }

  ul {
    list-style: none;
    margin: 0.2em $spacing $spacing $spacing;
    padding: 0;
  }

  img {
    max-width: 60%;
    margin: auto;
    float: none;
    display: block;
  }
}

.content {
  min-height: 90vh;

  h1 {
    margin: $spacing-small $spacing;
  }

  h2, h3, h4, h5, h6 {
    margin: 0.2em $spacing;
  }

  p {
    margin: $spacing-small $spacing;
  }

  table {
    margin: $spacing-small auto;
    padding: 0;

    thead, tbody, tfoot {
      margin: 0 $spacing;
    }
  }
}

.join-links {
  @extend .content-block;

  ul {
    @extend .no-buffer;
    margin: $spacing;
    list-style: none;
  }

  li {
    @extend .no-buffer;
    float: left;
    width: 25%;
    text-align: center;

    @include device($tablet-width) {
      width: 50%;
    }

    @include device($mobile-width) {
      width: 100%;
      float: none;
    }

    a {
      @include button($fg-dark, $bg-black, $fg-link);
    }
  }
}

.logo-banner {
  margin: $spacing-large $spacing;
}

.bigtext {
  font-size: 24pt;
  text-align: center;
  margin: $spacing-large $spacing;

  @include device($mobile-width) {
    font-size: 18pt;
  }
}


.half {
  width: 50%;
}
.third {
  width: 33.33%;
}
.quarter {
  width: 25%;
}

.quarter, .third, .half {
  @extend .no-buffer;
  float: left;
  text-align: center;
  
  h1 {
    margin-top: $spacing-large;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 0.2em;
  }

  @include device($tablet-width) {
    width: 50%;
  }

  @include device($mobile-width) {
    width: 100%;
    float: none;
  }
}

.events {
  @extend .content-block;
  
  .event {
    text-align: left;

    h3 {
      margin-bottom: -$spacing-small;
      font-size: 1em;
    }
  }
}

.flag {
  display: none;
}

.person {
  overflow: hidden;
  text-align: left;

  .ps-image {
    float: left;
    clear: left;
    overflow: hidden;
    margin: 0;

    img {
      border: $line-normal solid $fg-dark;
      width: 96px;
      height: 96px;
      margin: $spacing-large $spacing;

      @include device($mobile-width) {
        width: 48px;
        height: 48px;
      }
    }
  }

  .ps-info {
    margin: 0;
    clear: right;
    overflow: hidden;

    ul.ps-links {
      @extend .no-buffer;
      list-style: none;

      li {
        display: block;
        float: left;
        width: 20%;
        margin: 0;
        padding: 0;

        @include device($mobile-width) {
          width: 50%;
        }

        a {
          @include button($fg-dark, $bg-black, $fg-link);
        }
      }
    }
  }
}
