header.site {
  @extend .no-buffer;
  background-color: $bg-black;
  border-bottom: $line-normal solid $fg-line;

  .wrapper {
    @extend .no-buffer;
    @extend .content-wrap;
  }

  h1 {
    font-size: 22pt;
    text-transform: uppercase;
    margin: 0;
    padding: 0.2em $spacing-small;
    float: left;
    clear: left;
    a {
      color: $fg-dark;
      text-decoration: none;
    }

    &.short {
      display: none;
    }

    @include device($mobile-width) {
      &.full {
        display: none;
      }

      &.short {
        display: block;
      }
    }
  }

  .show-nav {
    display: none;
    font-size: 22pt;
    padding: 0.35em 0.4em;

    @include device($tablet-width) {
      display: block;
      float: right;
      clear: right;
    }
  }

  nav {
    @extend .no-buffer;
    float: right;
    clear: right;

    @include device($tablet-width) {
      float: none;
      clear: both;
      max-height: 0;
      transition: max-height 0.5s;

      &.shown {
        transition: max-height 0.5s;
        max-height: 16em;
      }
    }

    ul {
      @extend .no-buffer;
      display: block;
    }
    li {
      @extend .no-buffer;
      list-style: none;
      float: right;
      margin: 2px 0;

      @include device($tablet-width) {
        float: left;
        width: 25%;
        text-align: center;
      }

      @include device($mobile-width) {
        float: none;
        width: auto;
      }
    }
    a {
      @include button($fg-dark, $bg-dark, $fg-link);
    }
  }
}

footer.site {
  background-color: $bg-black;
  border-top: $line-normal solid $fg-line;

  .wrapper {
    @extend .no-buffer;
    @extend .content-wrap;
    padding-top: $spacing;
  }

  .left, .middle, .right {
    @extend .no-buffer;
    width: 33.33%;
    float: left;

    @include device($tablet-width) {
      width: 50%;
    }

    @include device($mobile-width) {
      width: 100%;
      float: none;
    }

    .spacer {
      width: auto;
      margin: $spacing;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 14pt;
    margin: 0.2em $spacing;
  }

  p {
    font-family: $monospace-font;
    font-weight: $monospace-weight;
    margin: 0.2em $spacing $spacing $spacing;
  }

  ul {
    font-family: $monospace-font;
    list-style: none;
    margin: 0.2em $spacing $spacing $spacing;
    padding: 0;
  }

  img {
    max-width: 60%;
    margin: auto;
    float: none;
    display: block;
  }
}

.content {
  min-height: 90vh;

  h1 {
    margin: $spacing-small $spacing;
  }

  h2, h3, h4, h5, h6 {
    margin: 0.2em $spacing;
  }

  p {
    margin: $spacing-small $spacing;
  }

  table {
    margin: $spacing-small auto;
    padding: 0;

    thead, tbody, tfoot {
      margin: 0 $spacing;
    }
  }
}

.join-links {
  @extend .content-block;

  ul {
    @extend .no-buffer;
    margin: $spacing;
    list-style: none;
  }

  li {
    @extend .no-buffer;
    float: left;
    width: 25%;
    text-align: center;

    @include device($tablet-width) {
      width: 50%;
    }

    @include device($mobile-width) {
      width: 100%;
      float: none;
    }

    a {
      @include button($fg-dark, $bg-black, $fg-link);
    }
  }
}

.logo-banner {
  margin: $spacing-large $spacing;
}

.bigtext {
  font-size: 24pt;
  text-align: center;
  margin: $spacing-large $spacing;

  @include device($mobile-width) {
    font-size: 18pt;
  }
}

.full, .half, .third, .quarter {
  @extend .no-buffer;
  text-align: center;
  
  h1 {
    margin-top: $spacing;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 0.2em;
  }
}

.full {
  width: auto;
  float: none;
  clear: both;
}

.half {
  width: 50%;
}
.third {
  width: 33.33%;
}
.quarter {
  width: 25%;
}

.quarter, .third, .half {
  float: left;

  @include device($tablet-width) {
    width: 50%;
  }

  @include device($mobile-width) {
    width: 100%;
    float: none;
  }
}

.events {
  @extend .content-block;

  & > h1 {
    text-align: center;
  }
}

.flag {
  display: none;
}

.person {
  overflow: hidden;
  text-align: left;

  .ps-image {
    float: left;
    clear: left;
    overflow: hidden;
    margin: 0;

    img {
      border: $line-normal solid $fg-dark;
      width: 128px;
      height: 128px;
      margin: $spacing-large $spacing;

      @include device($mobile-width) {
        width: 48px;
        height: 48px;
      }
    }
  }

  .ps-info {
    margin: 0;
    clear: right;
    overflow: hidden;

    ul.ps-links {
      @extend .no-buffer;
      list-style: none;

      li {
        display: block;
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;

        @include device($mobile-width) {
          width: 50%;
        }

        a {
          @include button($fg-dark, $bg-black, $fg-link);
        }
      }
    }
  }
}

.event {
  @extend .no-buffer;

  .header-img {
    @extend .no-buffer;

    img {
      background-color: $tint-orange;
      border-radius: $rounded-radius;
    }
  }

  &.event-ctf .header-img img {
    background-color: $tint-blue;
  }

  &.event-workshop .header-img img {
    background-color: $tint-green;
  }

  // Image shown on full site
  .header-img {
    float: left;
    clear: left;
    margin: $spacing-small;
    padding: 0;

    img {
      display: block;
      width: 320px;
      min-height: 40px;
    }

    @include device($tablet-width) {
      float: none;
      clear: both;

      img {
        width: auto;
        max-width: 480px;
        margin: 0 auto;
      }
    }

    @include device($mobile-width) {
      img {
        width: 100%;
      }
    }

  }

  .event-summary {
    @extend .no-buffer;
    margin: $spacing-tiny 0;

    ul.times, ul.links {
      @extend .no-buffer;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @extend .half;
      }

      li.location {
        @extend .full;
      }
    }

    ul.times li {
      font-family: $headline-font;
      font-weight: $headline-bold;
      text-transform: uppercase;
      color: $bg-dark;

      .name, .time, .location {
        display: block;
        padding: 0.6em 0.6em 0.5em 0.6em;
        overflow: none;
      }

      .name {
        float: left;
        clear: left;
        margin: $spacing-tiny 0 $spacing-tiny $spacing-small;
        background-color: $fg-link;
        border-radius: $rounded-radius 0 0 $rounded-radius;
        width: 3.5em;
      }

      .time, .location {
        margin: $spacing-tiny $spacing-small;
        background-color: $fg-dark;
        border-radius: $rounded-radius;
      }
    }
  }

}

.event.event-small {
  @extend .third;
  overflow: hidden;

  p {
    text-overflow: ellipsis;
  }

  h1 {
    margin: $spacing-small $spacing;
    font-size: 1.4em;
  }

  h2 {
    margin: $spacing-tiny $spacing;
    font-size: 1.2em;
  }

  .header-img {
    float: none;
    clear: both;

    img {
      width: 100%;
      min-height: 180px;
    }
  }

  .event-summary {
    ul.times li, ul.links li {
      float: none;
      width: auto;
      font-size: 0.9em;
    }

    ul.times li {
      .name {
        width: 3.5em;
      }
      .name, .time, .location {
        padding: 0.3em 0.6em 0.2em 0.6em;
      }
    }
  }
}

.sponsors {
  @extend .no-buffer;
  text-align: center;

  .sponsor-img {
    overflow: hidden;
    margin: 2*$spacing-large;
    height: 240px;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 320px;
      border-radius: $rounded-radius;

      background-color: #FFFFFF;
    }
  }
}
