.no-buffer {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

@mixin backlight($color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 20%);
  }

  &:active {
    background-color: darken($color, 20%);
  }
}

@mixin button($fg, $bg, $selected) {
  display: block;
  border-radius: $rounded-radius;
  background-color: $fg;
  color: $bg;
  padding: 0.6em 0.6em 0.5em 0.6em;
  margin: $spacing-tiny $spacing-small;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: $headline-font;
  font-weight: $headline-weight;

  @include backlight($fg);

  &:hover {
    text-decoration: none;
  }

  &:before {
    font-family: "FontAwesome";
    font-weight: normal;
    padding: 2px 8px;
  }
  
  &.selected {
    @include backlight($selected);
  }

  &.btn-register {
    &:before {
      content: '\f234';
    }
  }

  &.btn-orgsync {
    @include backlight($cp-orgsync);

    &:before {
      content: '\f19d';
    }
  }

  &.btn-slack {
    @include backlight($cp-slack);
 
    &:before {
      content: '\f198';
    }
 }

  &.btn-facebook {
    @include backlight($cp-facebook);
 
    &:before {
      content: '\f09a';
    }
 }

  &.btn-twitter {
    @include backlight($cp-twitter);
 
    &:before {
      content: '\f099';
    }
 }

  &.btn-linkedin {
    @include backlight($cp-linkedin);
 
    &:before {
      content: '\f08c';
    }
 }

  &.btn-website {
    &:before {
      content: '\f0ac';
    }
 }

  &.btn-email {
    &:before {
      content: '\f0e0';
    }
 }

  &.btn-phone {
    &:before {
      content: '\f095';
    }
 }
}

// Default button
a.button {
  @include button($fg-dark, $bg-dark, $fg-link);
}

@mixin device($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.content-wrap {
  max-width: $content-max; 
  margin: 0 auto;
  overflow: hidden;
  display: block;
  float: none;
  clear: both;
}

.content-block {
  @extend .no-buffer;
  background-color: $bg-black;
  margin: $spacing-small 0;
  border: {
    color: $fg-line;
    width: $line-normal 0;
    style: solid;
  }
  float: none;
  clear: both;
}
