html, body {
  @extend .no-buffer;
  font-family: $body-font;
  font-weight: $body-weight;
  color: $fg-dark;
  background-color: $bg-dark;
}

html {
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
  font-weight: $headline-weight;

  a {
    color: $fg-dark;
  }
}

pre, code {
  font-family: $monospace-font;
  font-weight: $monospace-weight;
}

a {
  text-decoration: none;
  color: $fg-link;
  font-weight: $body-bold;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-radius: 4px;
  min-width: 50%;

  thead {
    border-bottom: $line-normal solid $fg-dark;
  }

  tfoot {
    border-top: $line-normal solid $fg-dark;
  }

  th, td {
    border: {
      width: 0 $line-thin;
      style: solid;
      color: $fg-dark;
    }
    margin: 0;
    padding: $spacing-small $spacing;
    outline: none;
  }

  th {
    background-color: $bg-block;
  }

  tr {
    border: {
      width: $line-thin 0;
      style: solid;
      color: $fg-dark;
    }
  }
}

blockquote {
  margin: $spacing-small;
  padding: $spacing-tiny $spacing-small;
  border: {
    width: 0 $line-thick;
    style: solid;
    color: $fg-dark;
  }
  background-color: $bg-light;
  color: $fg-light;

  &.notice {
    border-color: $bg-notice;
    background-color: lighten($bg-notice, 20%);
  }
}

.anchor-show {
  display: none;

  &:target {
    display: block;
  }
}
